.container
  .title Pizza Time!

  - if flash[:notice]
    #notice= notice

  = render 'searchform'

  .nearby-shops
    .shop-names Pizza Near By
    .pizza-shops
      .shop
        - @shops.each do |pizza_shop|
          .name
            = pizza_shop
